DOMAIN=pluribus.vcap.me
TRAEFIK_USER=admin
TRAEFIK_PASSWORD_HASH=$2y$05$RHexFs6Yw8763FQvtrv6dOw9z.TLdfp7myCBfDW6iu/iYipAqnM62
PORTAINER_PASSWORD_HASH=$2y$05$RHexFs6Yw8763FQvtrv6dOw9z.TLdfp7myCBfDW6iu/iYipAqnM62


